.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 2em;
	margin-right: 5px;
	margin-top: 5px;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	padding-right: 0;
	justify-content: end;
	max-width: 30em;
	display: flex;
}
.search-bar input {
	border: none;
	background: transparent;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: transparent;
	color: white;
	border-radius: 2em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
	padding: 10px;
}

.btnSearch{
	background-color: transparent;
	border: none;
}

svg{
	height: 20px;
}

