
.containerServicioTecnico{
    background-image: url(https://img.freepik.com/foto-gratis/maestro-sostiene-nueva-pantalla-reemplazarla-encima-telefono-inteligente-desmontado-su-laboratorio-kit-herramientas-instrumentos-computadora-portatil-frente-mesa-blanca-vista-cercana_346278-1202.jpg?w=740&t=st=1675123767~exp=1675124367~hmac=926e2c6a955b750961c97605602895bda76daed8f9652a7ca661a4471de97230
    );
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100%;
}